{% extends 'base.html' %}
 
{% block container %}

<div class="row mt-3"></div>

<div class="container">
  <div class="row">
    <div class="col">
      <form id="search_form" name="search_form">
        <div class="form-row justify-content-center">
          <div class="col-sm-9">
            <input type="text" class="form-control form-control-lg" id="job_title" name="job_title" placeholder="Job title">
          </div>
          <button type="submit" class="btn btn-primary" id="find">Find</button>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="row mt-3"></div>

<div class="container">
  <div class="row justify-content-end">
      <div class="text-muted">
        <p>round 1</p>
      </div>      
  </div>
</div>

<div class="row mt-3"></div>

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-5 border" id="job_left">
      <!-- {% if not scrape_complete %}
        <p>Click find</>
      {% else %}
        {% for job in jobs_list %}
          <h2>{{ job.title }}</h2>
        {% endfor %}
      {% endif %} -->
    </div>
    <div class="col-sm-2 border">
      
    </div>
    <div class="col-sm-5 border">
      
    </div>
  </div>
</div>

{% endblock %}